<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Demo App</title>

    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">

    <!--Scripts-->
    <script src="vendor/jquery-1.9.1.min.js"></script>
    <script src="vendor/angular.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/easeljs.js"></script>
    <script src="vendor/preloadjs.js"></script>
    <script src="vendor/underscore.js"></script>


    <!--<script src="vendor/require.js" data-main="app/loader.js"></script>-->
    <script src="app/out.js"></script>

</head>
<body ng-controller="MainController">
    <br />
    <div class="row row-fluid">
      <button type="button" class="btn btn-large offset4 span2" ng-click="vm.currentImage=vm.image1">First</button>
      <button type="button" class="btn btn-large span2" ng-click="vm.currentImage=vm.image2">Second</button>
    </div>
    <br />
    <div ratio="vm.currentImage.height/vm.currentImage.width" 
        style="width:100%" 
        calculatedwidth="parentwidth"
        calculatedheight="parentheight"
        >
        <annotateimage image="vm.currentImage" width="parentwidth" height="parentheight"></annotateimage>
    </div>
</body>
</html>
